    <!-- ******ABOUT****** -->
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is the EURISE Network?</h2>
            <p class="intro text-center">
              The EURISE Network was formed by the three Social Sciences and Humanities ERICs CESSDA, CLARIN &amp; DARIAH
              to create an umbrella where research infrastructures meet research software engineers.
            </p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Standards</h3>
                        <p>The need to apply state of the art industry standards for software development to research software is a core insight.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Best practices</h3>
                        <p>With the Technical Reference, a collection of best practices and guidelines for software development, we can do more.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Education</h3>
                        <p>Awareness of and consideration for software quality should be part of training and education in all disciplines.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="clearfix visible-md"></div>
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-exchange"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Network</h3>
                        <p>With its heterogeneous mixture of experts from different areas of infrastructure development and operation, the network promotes knwoledge exchange.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Software Engineering</h3>
                        <p>The <a href="https://rse.ac.uk/">RSE community</a> is organised in national consortia representing individual software engineers and the recognition of software as scientific contributions.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-anchor"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Sustainability</h3>
                        <p>Long term operation of infrastructure requires sustainable technological foundations to be managed by institutionalised knowledge.</p>
                    </div><!--//content-->
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//about-->
