    <!-- ******GOALS****** -->
    <section id="goals" class="features section">
        <div class="container text-center">
            <h2 class="title">Goals</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Quality Guidelines</li>
                <li><i class="fa fa-check"></i> Re-Usability of Research Software</li>
                <li><i class="fa fa-check"></i> Infrastructure Sustainbility</li>
                <li><i class="fa fa-check"></i> Software as research output</li>
                <li><i class="fa fa-check"></i> Training &amp; Education</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
