    <!-- ******HEADER****** -->
    <header id="header" class="header">
        <div class="container">
            <h1 class="logo pull-left">
                <a href="{{ site.baseurl }}{% link index.html %}">
                    <span class="logo-title">{{ site.title }}</span>
                </a>
            </h1><!--//logo-->
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="{{ site.baseurl }}{% link index.html %}">Home</a></li>
                        {% for thepage in site.specialpages %}
                            <li class="nav-item"><a href="{{ thepage.url }}">{{ thepage.title }}</a></li>
                        {% endfor %}
                        <li class="nav-item dropdown"> <a href="{{ site.baseurl }}{% link events.md %}" class="dropbtn">Events</a>
                          <div class="dropdown-content">
                          {% for event in site.workshops %}
                              <a href="{{ event.url }}">{{ event.title }}</a>
                          {% endfor %}
                          </div>
                        </li>

                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->
