    <!-- ******CONTACT****** -->
    <section id="infrastructures" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Infrastructures</h2>
                <p class="intro  text-center">This initiative is supported by <a href="https://www.cessda.eu/">CESSDA ERIC</a>, <a href="https://www.clarin.eu/">CLARIN ERIC</a>, <a href="https://www.dariah.eu/">DARIAH ERIC</a> and <a href="http://operas-eu.org/">OPERAS AISBL</a>.</p>
                <div class="clearfix"></div>
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->

