    <!-- ******NEWS****** -->
    <section id="news" class="news section">
        <div class="container">
            <div class="license-inner">
                <h2 class="title text-center">News</h2>
                <div class="info">
                    <p>
                        The EURISE Network is organising its 2nd workshop, under the joint umbrella of our ERICs and the
                        <a href="https://www.dariah.eu/activities/projects-and-affiliations/desir/">DESIR</a> project.
                        You will find more information at the webpage of the workshop:
                        <a href="https://euriseworkshop.sciencesconf.org/">EURISE Workshop</a>
                    </p>
                    <p>
                        You can find more information about the previous workshop, which built the way to the 
                        EURISE Network, here: <a href="https://dhd-blog.org/?p=8685">DHd Blog</a>.
                    </p>
                </div><!--//info-->
            </div><!--//features-inner-->
        </div><!--//container-->
    </section><!--//news-->
