    <!-- ******NEWS****** -->
    <section id="news" class="news section">
        <div class="container">
            <div class="license-inner">
                <h2 class="title text-center">News</h2>
                <div class="info">


                  <h3>Online expert meetings!</h3>
                    <p>
                      The EURISE Network is organising a series of four online expert meetings.
                    </p>
                    <p>
                    Join us for <a href="{{ site.baseurl }}{% link online-series-2020.md %}">sessions on Testing, Documentation, Observability and Provisioning</a>.
                    </p>
                    <p>
                      The meetings take place every other Wednesday at 14 WET / 15 CET / 16 EET.
                    </p>
                </div><!--//info-->
            </div><!--//features-inner-->
        </div><!--//container-->
    </section><!--//news-->
