    <!-- ******NEWS****** -->
    <section id="news" class="news section">
        <div class="container">
            <div class="license-inner">
                <h2 class="title text-center">News</h2>
                <div class="info">


                  <h3>Virtual knowledge-meetups planned!</h3>
                    <p>
                      Due Covid-19, physical workshops will be impossible for quite some time to come.
                    </p>
                    <p>
                      In their place, we will organise virtual knowledge meetups to exchange experiences and best practices
                      from infrastructure operation.
                    </p>
                    <p>
                    Check back for updates later this year or get in touch now!
                    </p>
                </div><!--//info-->
            </div><!--//features-inner-->
        </div><!--//container-->
    </section><!--//news-->
