    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">EURISE <span class="highlight">Network</span></h2>
            <p class="intro">European Research Infrastructure Software Engineers' Network</p>
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
            </div>
        </div>
    </section><!--//promo-->
