    <!-- ******TEAM****** -->
    <section id="team" class="license section">
        <div class="container">
            <div class="license-inner">
            <h2 class="title text-center">Coordination Team</h2>
                <div class="info">
                    <p>
                      The Coordination Team is the editorial team for documents maintained by the EURISE Network,
                      it coordinates the dissemination activities and community engagement.
                    </p>
                </div><!--//info-->
                <div class="cta-container">
                    <div class="speech-bubble">
                        <p class="intro">Once the team is formed, we'll let you know!</p>
                        <div class="icon-holder  text-center"><i class="fa fa-coffee"></i></div>
                    </div><!--//speech-bubble-->
                </div><!--//cta-container-->
            </div><!--//license-inner-->
        </div><!--//container-->
    </section><!--//how-->
